extends ../shared/template

block content

  #map
  #legend
    ul
      li: img(src='/img/arsonLegend.png')
      li: img(src='/img/assaultLegend.png')
      li: img(src='/img/robberyLegend.png')
      li: img(src='/img/suspiciousLegend.png')
      li: img(src='/img/vandalismLegend.png')
  hr
  .text-center
    h3 Reports
    h4 Filter by:
    input#filter(type='text', name='filter', value='', placeholder='Keyword/Date/Address')

  #report-container.well.well-lg
    each report in reports
      .well.well-sm(data-lat='#{report.latlong[0]}', data-long='#{report.latlong[1]}', data-type='#{report.type}', data-desc='#{report.desc}')
        each photo in report.photos
          .gone(data-img='/img/#{report.userId}/#{photo.originalFilename}')
        .date
          p= report.date
        .type
          img.icon(src='/img/#{report.type}.png')
        .content
          p= report.desc
          p.hide= report.type
          if(report.isOwner(user))
            form(action='/reports/#{report._id}', method='post')
              input(type='hidden', name='_method', value='delete')
              button#nuke Delete
        .address
          h5= report.street
          h5 #{report.city}, #{report.state} #{report.zip}

  button.btn.btn-primary.btn-lg.report(data-toggle='modal', data-target='.bs-example-modal-lg') Report

  #userId.hide(data-id='#{user._id}')
  #chatContain
    #chat
    #controls
      input#message(type='text', placeholder='Message')
      button#send Send

  form(method='post', action='/logout')
    button.btn.btn-default.btn-lg#logout Logout

  .clear

  #formContain.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form#reportThis.form-horizontal(action='/reports', method='POST', enctype='multipart/form-data')
          fieldset
            .form-group.top
              label.col-sm-2.control-label(for='option') Type
              .col-sm-4
                select.type.form-control(name='type')
                  option(value='assault') Assault
                  option(value='suspicious') Suspicious Activity
                  option(value='vandalism') Vandalism
                  option(value='arson') Arson
                  option(value='robbery') Robbery

            .form-group
              label.col-sm-2.control-label(for='textinput') Description
              .col-sm-10
                textarea.desc.form-control(type='text',name='description', placeholder='Description (Include Time of Occurrence)')
            .form-group
              label.col-sm-2.control-label(for='textinput') Date
              .col-sm-4
                input.state.form-control(type='date', name='date')
            .form-group
              label.col-sm-2.control-label(for='textinput') Address
              .col-sm-10
                input.streetName.form-control(type='text', name='streetName', placeholder='Address')
            .form-group
              label.col-sm-2.control-label(for='textinput') City
              .col-sm-10
                input.city.form-control(type='text', name='city', placeholder='City')
            .form-group
              label.col-sm-2.control-label(for='textinput') State
              .col-sm-4
                input.state.form-control(type='text', name='state', placeholder='State')
              label.col-sm-2.control-label(for='textinput') Zip
              .col-sm-4.getzip
                input.zip.form-control(type='text', name='zip', placeholder='Zip')
            .form-group
              label.col-sm-2.control-label(for='fileinput') Photo
              .col-sm-10
                input.photo.form-control(type='file', name='photos', multiple=true)

            .form-group.bottom
              .col-sm-offset-2.col-sm-10
                button#submit Submit
                button#close.hidden(type='button', data-dismiss='modal', aria-hidden='true') &times;

  .clear
  if(user.facebook.displayName)
    p Logged in as #{user.facebook.displayName}
    p
            a.btn.btn-primary(href='/unlink/facebook') Unlink
  if(user.local.email)
    p Logged in as #{user.local.email}
    p
      a.btn.btn-default.btn-sm(href='/users/password') Change Password

block scripts
  //- script(src='/js/es6/compiled/submitReport.js')
